$prefix: "fc";
$ui-lib: "element";
$color: #bfbfbf;

.#{$prefix}-main {
  position: relative;
  width: 100%;
  height: 100%;

  .no-fc-item {
    color: $color;
    font-size: 22px;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 50%);
  }

  &-draggable-box {
    height: 100%;

    &-transition {
      height: 100%;
    }
  }

  // &-#{$ui-lib} {
  //   background: red;
  // }
}
