@import "../../../assets/styles/fc-create-ui/all";
.#{$prefix}-main {
  position: relative;
  width: 100%;
  height: 100%;

  /// 主区域外层盒子
  &-draggable-box-transition {
    height: 100%;
    padding: 5px;
    position: relative;
    background: $white-color;

    /// 正在拖动中的样式...
    /// fc-drage-moving
    .fc-drage-moving {
      min-height: 35px;
      overflow: hidden;
      box-sizing: border-box;
      position: relative;
      list-style: none;
      padding: 5px 0;

      &::before {
        content: "";
        height: 5px;
        width: 100%;
        background: linear-gradient(to right, $primary-color-2, $primary-color-1);
        position: absolute;
        border-radius: $border-width;
        top: 0;
        right: 0;
      }
    }
  }

  &-draggable-box {
    height: 100%;

    &-transition {
      height: 100%;
    }
  }
}

/// 全局tootip
.no-fc-item {
  color: $text-no-data-color;
  font-size: 22px;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 2;
  transform: translate(-50%, 50%);
}

/// 文档提示
.fc-tips-href {
  a {
    @include text-linear;
    margin-left: 3px;
    position: relative;
    padding: 0 2px;

    &::after {
      content: "";
      position: absolute;
      height: 0;
      width: 100%;
      left: 0;
      right: 0;
      bottom: 0;
      background: linear-gradient(to right, $primary-color-2, $primary-color-1);
      transition: all 0.3s;
    }

    &:hover {
      &::after {
        height: 1px;
      }
    }
  }
}

/// common transition
.fc-drage-list-enter-active {
  transition: all $fc-drage-transition-time;
}

.fc-drage-list-leave-active {
  transition: all $fc-drage-transition-time;
}

.fc-drage-list-enter,
.fc-drage-list-leave-to {
  opacity: 0;
  transform: translateX(-100px);
}

.fc-drage-list-enter {
  height: 30px;
}
