$prefix: "fc";
$color: #f0f2f5;

.#{$prefix}-container {
  height: 100%;
  &-header {
    display: flex;
    align-items: center;
    box-shadow: 0 2px 8px #f0f1f2;
    color: rgba(0, 0, 0, 0.85);

    &__title {
      margin-left: 16px;
      font-family: Avenir, -apple-system, BlinkMacSystemFont, segoe ui, Roboto, helvetica neue, Arial, noto sans,
        sans-serif, apple color emoji, segoe ui emoji, segoe ui symbol, noto color emoji, sans-serif;
      font-size: 20px;
    }
  }

  &-main {
    padding: 40px 0 0;
    height: calc(100vh - 100px);
    overflow: hidden;

    &__row {
      height: calc(100vh - 100px);
      overflow: auto;
    }

    &__box {
      width: 100%;
      > div {
        height: 100%;
      }
    }

    &__section {
      background: $color;
      height: 100%;
    }

    &__components {
      height: 100%;
      max-height: calc(100vh -100px);
      overflow: hidden;

      .el-aside {
        height: 100%;
      }
    }
  }
}
